/* Poppins font for header */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Quicksand font for body text */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Dancing Script ( just to test font is working ) */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* to fix the non homepage having vertical extra space above header and below footer on mobile screen - start */
/* Add this at the top of your globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
}

html,
body {
  height: 100%; /* Ensures full height */
  display: flex;
  flex-direction: column; /* Allows for vertical stacking */
}
/* end */

.shadow-custom {
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); /* Top shadow */
}

/* Graph Visualization Styles */
.graph-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background-color: white;
  overflow: hidden;
}

.node {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: lightblue;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.edges {
  position: absolute;
  width: 100%;
  height: 100%;
}

.line {
  position: absolute;
  width: 2px;
  background-color: black;
}
